.recipe-link {
    display: block;
    color: black;
    text-decoration: none;
}

#submit {
    border: 1px solid #ced4da;
}

.fa-sort-amount-down-alt {
    font-size: 25px;
    color: gray;
}

.input-group-text {
    text-decoration: none;
}
